<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OrderManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\Users\PNeha\Desktop\java\OrderManagementSystem_3_4_2013\WebContent\images\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginProcessor</display-name>
    <servlet-name>LoginProcessor</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.LoginProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcessor</servlet-name>
    <url-pattern>/LoginProcessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsers1</display-name>
    <servlet-name>DeleteUsers1</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.DeleteUsers1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsers1</servlet-name>
    <url-pattern>/DeleteUsers1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManagerrr</display-name>
    <servlet-name>DeleteManagerrr</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.DeleteManagerrr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManagerrr</servlet-name>
    <url-pattern>/DeleteManagerrr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsers</display-name>
    <servlet-name>DeleteUsers</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.DeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsers</servlet-name>
    <url-pattern>/DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManager</display-name>
    <servlet-name>DeleteManager</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.DeleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManager</servlet-name>
    <url-pattern>/DeleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfrimDelete</display-name>
    <servlet-name>ConfrimDelete</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.ConfrimDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfrimDelete</servlet-name>
    <url-pattern>/ConfrimDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateManager</display-name>
    <servlet-name>PopulateManager</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.PopulateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateManager</servlet-name>
    <url-pattern>/PopulateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateSupplier</display-name>
    <servlet-name>PopulateSupplier</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.PopulateSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateSupplier</servlet-name>
    <url-pattern>/PopulateSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProducts</display-name>
    <servlet-name>AddProducts</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.AddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProducts</servlet-name>
    <url-pattern>/AddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacingOrderServlet</display-name>
    <servlet-name>PlacingOrderServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.order.PlacingOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacingOrderServlet</servlet-name>
    <url-pattern>/PlacingOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemsServlet</display-name>
    <servlet-name>AddItemsServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.AddItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemsServlet</servlet-name>
    <url-pattern>/AddItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecisionServlet</display-name>
    <servlet-name>DecisionServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.DecisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecisionServlet</servlet-name>
    <url-pattern>/DecisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchItemSuppliers</display-name>
    <servlet-name>FetchItemSuppliers</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.FetchItemSuppliers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchItemSuppliers</servlet-name>
    <url-pattern>/FetchItemSuppliers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchSuppliersServlet</display-name>
    <servlet-name>FetchSuppliersServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.FetchSuppliersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSuppliersServlet</servlet-name>
    <url-pattern>/FetchSuppliersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItems</display-name>
    <servlet-name>GetItems</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.GetItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItems</servlet-name>
    <url-pattern>/GetItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItems1</display-name>
    <servlet-name>GetItems1</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.GetItems1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetItems1</servlet-name>
    <url-pattern>/GetItems1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FunctionServlet</display-name>
    <servlet-name>FunctionServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.FunctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunctionServlet</servlet-name>
    <url-pattern>/FunctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDecision</display-name>
    <servlet-name>AdminDecision</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.AdminDecision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDecision</servlet-name>
    <url-pattern>/AdminDecision</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempSessionCart</display-name>
    <servlet-name>TempSessionCart</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.order.TempSessionCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempSessionCart</servlet-name>
    <url-pattern>/TempSessionCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectDeleteForm</display-name>
    <servlet-name>RedirectDeleteForm</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.RedirectDeleteForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectDeleteForm</servlet-name>
    <url-pattern>/RedirectDeleteForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalOrders</display-name>
    <servlet-name>ApprovalOrders</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.ApprovalOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalOrders</servlet-name>
    <url-pattern>/ApprovalOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditLog</display-name>
    <servlet-name>AuditLog</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.AuditLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditLog</servlet-name>
    <url-pattern>/AuditLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemRetrieval1</display-name>
    <servlet-name>OrderItemRetrieval1</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.OrderItemRetrieval1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemRetrieval1</servlet-name>
    <url-pattern>/OrderItemRetrieval1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStatus</display-name>
    <servlet-name>OrderStatus</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.OrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatus</servlet-name>
    <url-pattern>/OrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectedOrders1</display-name>
    <servlet-name>RejectedOrders1</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.RejectedOrders1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectedOrders1</servlet-name>
    <url-pattern>/RejectedOrders1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectingServlet</display-name>
    <servlet-name>RedirectingServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.RedirectingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectingServlet</servlet-name>
    <url-pattern>/RedirectingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRejected</display-name>
    <servlet-name>ShowRejected</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.manager.ShowRejected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRejected</servlet-name>
    <url-pattern>/ShowRejected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemsRetrieval</display-name>
    <servlet-name>OrderItemsRetrieval</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.OrderItemsRetrieval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemsRetrieval</servlet-name>
    <url-pattern>/OrderItemsRetrieval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectedOrders</display-name>
    <servlet-name>RejectedOrders</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.RejectedOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectedOrders</servlet-name>
    <url-pattern>/RejectedOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierOrderFunctionServlet</display-name>
    <servlet-name>SupplierOrderFunctionServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.SupplierOrderFunctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierOrderFunctionServlet</servlet-name>
    <url-pattern>/SupplierOrderFunctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierOrderManagementServlet</display-name>
    <servlet-name>SupplierOrderManagementServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.SupplierOrderManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierOrderManagementServlet</servlet-name>
    <url-pattern>/SupplierOrderManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuppliersServlet</display-name>
    <servlet-name>SuppliersServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.SuppliersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppliersServlet</servlet-name>
    <url-pattern>/SuppliersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierViewPendingOrderServlet</display-name>
    <servlet-name>SupplierViewPendingOrderServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.SupplierViewPendingOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierViewPendingOrderServlet</servlet-name>
    <url-pattern>/SupplierViewPendingOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrdersManagerQuality</display-name>
    <servlet-name>ViewOrdersManagerQuality</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.ViewOrdersManagerQuality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrdersManagerQuality</servlet-name>
    <url-pattern>/ViewOrdersManagerQuality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeOrdersHistory</display-name>
    <servlet-name>EmployeeOrdersHistory</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.productcart.EmployeeOrdersHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeOrdersHistory</servlet-name>
    <url-pattern>/EmployeeOrdersHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.adminmanager.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAuditLogServlet</display-name>
    <servlet-name>ViewAuditLogServlet</servlet-name>
    <servlet-class>com.quinnox.ordermanagementsystem.Users.ViewAuditLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAuditLogServlet</servlet-name>
    <url-pattern>/ViewAuditLogServlet</url-pattern>
  </servlet-mapping>
</web-app>